<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <title> Display Page </title>
</head>
<body>
   <br> <h1 style="text-align: center;"> Display Page </h1><br>
    <div style="text-align: center;">   
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><b> Jersy NO</b> </th>
            <th scope="col"><b> Player Name </b></th>
            <th scope="col"><b> Runs </b></th>
            <th scope="col"><b> Wickets </b></th>
            <th scope="col"><b> Team Name </b></th>
            
            <th scope="col"><b> Activity  </b></th>
          </tr>
        </thead>
        <tbody>
        {% for p in data %}
          <tr>
            <th scope="row">{{p.jno}}</th>
            <td>{{p.pname}}</td>
            <td>{{p.runs}}</td>
            <td>{{p.wickets}}</td>
            <td>{{p.tname}}</td>
            <td><a href="/iplapp/update/{{p.jno}}/"><button> UPDATE </button></a>
                <a href="/iplapp/delete/{{p.jno}}/"><button> DELETE </button></a></td>
          </tr>
        {% endfor %}
          </tbody>
      </table><br>
      <a href="/iplapp/create/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Add Player </a>
    </div>
 
</body>
</html>